.ptrlBox{
    padding: 10px;
    width: 400px;
    height: auto;
    border: 1px solid #5027a3;
    background-color: #c9bcf8;
    margin: 10px;
    border-radius: 10px;
    text-align: center;

}

.result{
    border: 1px solid #4027a3;
    background-color: rgba(255, 255, 255, 0.485);
    color: black;
    padding: 10px;
    width: 300px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

